<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>framework</title>
    <link href=${STATIC_URL}/css/app.css rel=stylesheet>
</head>
<script>
    if ('${RUN_MODE}' === 'DEVELOP') {
        window.siteUrl = "http://127.0.0.1:8001"
    }else{
        window.siteUrl = '${BK_PLAT_HOST}${SITE_URL}'
    }
    window.userName = '${request.user.username}'
    window.isAdmin = '1'
</script>
<body>
<div id=app></div>
<script type=text/javascript src=${STATIC_URL}/js/manifest.js></script>
<script type=text/javascript src=${STATIC_URL}/js/vendor.js></script>
<script type=text/javascript src=${STATIC_URL}/js/app.js></script>
</body>
</html>