<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>嘉维蓝鲸开发框架</title>
    <link rel="icon" href="${STATIC_URL}assets/favicon.ico" type="image/x-icon">
    <link href=${STATIC_URL}assets/css/app.css rel=stylesheet>
</head>
<script>
    /**
    如果部署到蓝鲸平台，则将siteUrl改成平台url
    if ('${RUN_MODE}' === 'DEVELOP') {
        window.siteUrl = "http://dev.szbke.com:8010/"
    }else ('${RUN_MODE}' === 'PRODUCT') {
        window.siteUrl = '${BK_PLAT_HOST}${SITE_URL}'
    }
    */
   // 本地开发环境访问url
    if ('${RUN_MODE}' === 'DEVELOP') {
        window.siteUrl = "http://127.0.0.1:8001/"
        window.env = "d"
    } else if ('${RUN_MODE}' === 'PRODUCT') {
        window.siteUrl = '${BK_PLAT_HOST}${SITE_URL}'
        window.env = "o"
    } else {
        window.siteUrl = '${BK_PLAT_HOST}${SITE_URL}'
        window.env = "t"
    }
    window.userName = '${request.user.username}'
    window.isAdmin = '1'
</script>
<body>
<div id=app></div>
<script type=text/javascript src=${STATIC_URL}assets/js/manifest.js></script>
<script type=text/javascript src=${STATIC_URL}assets/js/vendor.js></script>
<script type=text/javascript src=${STATIC_URL}assets/js/app.js></script>
</body>
</html>